@charset "utf-8";

HTML{
font-size: 0.8em;
}
body{
font-size: 1rem;
display:block;
min-height: 1rem;
background: #fff;
color: #111;
margin:0;
}
.post_body span[style*="font-size:36pt"]{
font-size:3.65em!important;
}
.post_body span[style*="font-size:36pt"] *{
font-size:inherit!important;
}
.post_body span[style*="font-size:24pt"]{
font-size:2.45em!important;
}
.post_body span[style*="font-size:24pt"] *{
font-size:inherit!important;
}
.post_body span[style*="font-size:18pt"]{
font-size:1.85em!important;
}
.post_body span[style*="font-size:18pt"] *{
font-size:inherit!important;
}
.post_body span[style*="font-size:14pt"]{
font-size:1.45em!important;
}
.post_body span[style*="font-size:14pt"] *{
font-size:inherit!important;
}
.post_body span[style*="font-size:12pt"]{
font-size:1.25em!important;
}
.post_body span[style*="font-size:12pt"] *{
font-size:inherit!important;
}
.post_body span[style*="font-size:10pt"]{
font-size:1.05em!important;
}
.post_body span[style*="font-size:10pt"] *{
font-size:inherit!important;
}
.post_body span[style*="font-size:8pt"]{
font-size:0.85em!important;
}
.post_body span[style*="font-size:8pt"] *{
font-size:inherit!important;
}

/*********/

.post-block{
}
.post-block>.block-title{ /*top - блока*/
}
.post-block>.block-body{ /*main - блока*/
}
.post-block.close>.block-body{
display:none;
}
.post-block.box>.block-body{
overflow:auto;
}
@media all and (orientation:landscape) 
{
.post-block.spoil.open>.block-title:before{
content:'Спойлер (\2013) ('
}
.post-block.spoil.close>.block-title:before{
content:'Спойлер (+) ('
}
.post-block.spoil>.block-title:after{
content:')'
}
.post-block.spoil.open>.block-title:empty:before{
content:'Спойлер (\2013)'
}
.post-block.spoil.close>.block-title:empty:before{
content:'Спойлер (+)'
}
.post-block.spoil>.block-title:empty:after{
content:''
}
.post-block.code{
border-left-color:#fd6826
}
.post-block.code>.block-title:before{
content:'Код ('
}
.post-block.code>.block-title:after{
content:')'
}
.post-block.code>.block-title:empty:before{
content:'Код'
}
.post-block.code>.block-title:empty:after{
content:''
}
.post-block.code>.block-title:empty:before{
content:'Код'
}
.post-block.code>.block-title:empty:after{
content:''
}
.post-block.code>.block-body{
}
.post-block.code.box>.block-title:before{
content:'Код (+) ('
}
.post-block.code.unbox>.block-title:before{
content:'Код (\2013) ('
}
.post-block.code.box>.block-title:empty:before{
content:'Код (+)'
}
.post-block.code.unbox>.block-title:empty:before{
content:'Код (\2013)'
}
.post-block.hidden>.block-title:before{
content:'Скрытый текст ('
}
.post-block.hidden>.block-title:after{
content:')'
}
.post-block.hidden>.block-title:empty:before{
content:'Скрытый текст'
}
.post-block.hidden>.block-title:empty:after{
content:''
}
.post-block.quote>.block-title img{
margin: 0px 2px;
}
.post-block.quote>.block-title:before{
content:'Цитата ('
}
.post-block.quote>.block-title:after{
content:')'
}
.post-block.quote>.block-title:empty:before{
content:'Цитата'
}
.post-block.quote>.block-title:empty:after{
content:''
}
}


@media all and (orientation: portrait) 
{
.post-block.spoil.open>.block-title:before{
content:'(\2013) ';
font-weight: bold;
}
.post-block.spoil.close>.block-title:before{
content:'(+) ';
font-weight: bold;
}
.post-block.spoil>.block-title:after{
content:''
}
.post-block.spoil.open>.block-title:empty:before{
content:'(\2013) Спойлер';
font-weight: bold;
}
.post-block.spoil.close>.block-title:empty:before{
content:'(+) Спойлер';
font-weight: bold;
}
.post-block.spoil>.block-title:empty:after{
content:''
}
.post-block.code>.block-title:before{
content:'Код: ';
font-weight: bold;
}
.post-block.code>.block-title:after{
content:''
}
.post-block.code>.block-title:empty:before{
content:'Код: ';
font-weight: bold;
}
.post-block.code>.block-title:empty:after{
content:''
}
.post-block.code>.block-title:empty:before{
content:'Код: ';
font-weight: bold;
}
.post-block.code>.block-title:empty:after{
content:''
}
.post-block.code>.block-body{
}
.post-block.code.box>.block-title:before{
content:'Код (+) ';
font-weight: bold;
}
.post-block.code.unbox>.block-title:before{
content:'Код (\2013)';
font-weight: bold;
}
.post-block.code.box>.block-title:empty:before{
content:'Код (+) ';
font-weight: bold;
}
.post-block.code.unbox>.block-title:empty:before{
content:'Код (\2013)';
font-weight: bold;
}
.post-block.hidden>.block-title:before{
content:'Скрытый текст: ';
font-weight: bold;
}
.post-block.hidden>.block-title:after{
content:''
}
.post-block.hidden>.block-title:empty:before{
content:'Скрытый текст: ';
font-weight: bold;
}
.post-block.hidden>.block-title:empty:after{
content:''
}
/*.post-block.quote>.block-title:before{
content:'"';
font-weight: bold;
}
.post-block.quote>.block-title:after{
content:close-quote;
font-weight: bold;
}*/
.post-block.quote>.block-title:empty:before{
content:'"Цитата"';
font-weight: bold;
}
.post-block.quote>.block-title:empty:after{
content:'';
}
}
/********/

.hidetop{
display:block;
padding: 0.3em;
background: rgb(208, 225, 245);
margin: -0.1em 0 0 0;
border-left: 3px #8895a5 solid;
border-top: 1px #efefef solid;
border-bottom: 2px #fff groove;
color: #222;
text-align: center;
}
.post-block.spoil>.block-title{
display:block;
padding: 0.3em;
background: rgb(208, 225, 245);
margin: 0.5em -0.5em 0;
border-left:  #8895a5 solid;
border-top: 2px #fff ridge;
border-bottom: 2px #fff groove;
color: #222;
}
.post-block.spoil>.block-body{
padding: 0.5em;
margin: 0 -0.5em;
border-left: 3px #8394b2 solid;
border-right: 0;
border-bottom: 1px #dee4ec solid;
}
.post-block.quote {
display: block; 
padding: 0.2em 0.4em 0.4em 0.4em;
margin: 1em 0.2em 1em 0; 
border-left:  3px solid #5588cc;
}
.post-block.quote > .block-title a img {
opacity:0;
margin:0;
}
.post-block.quote > .block-title a {
text-decoration: none;
position:relative;
margin-right: 0.6em;
}
.post-block.quote > .block-title a:after {
content: "«";
font-size: 1.5rem;
position: absolute;
left: 0;
top: 0;
padding: 0;
line-height:0.6;
color:#5588cc;
}
.post-block.quote>.block-title{
display: block;
margin-bottom: 0.5em;
color: #777;
font-weight:bold;
line-height: 1.4;
font-size: 1rem;
}
.post-block.quote>.block-title img{
margin: -0.3em 0.3em 0 0.3em;
}
.post-block.quote>.block-body{
padding: 0;
margin: 0;
color: #000;
}
.post-block.code>.block-title,
.sqltop,
.htmltop{
color: #a0a0a0;
font-weight: bold;
margin: 0.5em auto 0;
padding: 0.3em;
}
.post-block.code>.block-body,
.sqlmain,
.htmlmain{
border: 1px dotted #ccc;
color: #00aa00;
margin: 0 auto 0.4em;
padding: 0.5em 0.2em;
}
.post-block.hidden>.block-title{
color: #a0a0a0;
font-weight: bold;
margin: 0.5em auto 0;
padding: 0.3em;
}
.post-block.hidden>.block-body{
border: 1px dotted #ccc;
color: #111;
margin: 0 auto 0.4em;
padding: 0.5em 0.2em;
}

/***ADM***/

.cur{
background: #00943b;
}
.mod{
background: #6060ff;
}
.ex{
background: #ff6060;
}
.cur, .mod, .ex{
margin: 0.8em  0;
border: 1px solid #aaa;
display: table;
width: 100%;
}
.cur>.block-title,
.mod>.block-title,
.ex>.block-title{
display: table-cell;
vertical-align: middle;
color: white;
/*font-weight: bold;*/
width: 4rem;
text-align: center;
height: 100%;
font-size: 4rem;
font-family: Times New Roman, Serif;
}
.cur>.block-body,
.mod>.block-body,
.ex>.block-body{
display: table-cell;
vertical-align: middle;
text-align: left;
padding: 1em;
background: white;
height: 100%;
margin: 0;
}
/*** navi ***/
.navi{
margin-top: 3px;
max-width: 100%;
text-align: center;
background: #fff;
/*border-top: 2px ridge #222;
border-bottom: 2px groove #222;*/
}
.first, .prev, .page, .next, .last{
display: inline-block;
float:center;
text-align: center;
}
.first, .prev, .next, .last{
width: 15%;
}
.page{
width: 26%;
}
.prev{
border-left: 2px solid #eee;
border-right: 2px solid #eee;
}
.next{
border-left: 2px solid #eee;
border-right: 2px solid #eee;
}
/*** QMS ***/
.check-item{
display: block;
text-align: right;
line-height: 1.5;
padding-top: 0.3em;
}
#thread-inside-top ~ .date{
border-bottom: dotted 1px #aaa;
margin: 3em auto;
text-align: center;
}
.date .text{
position: relative;
top: 0.6em;
display: inline-block;
padding: 0 0.6em;
position: relative;
color: #777;
font-size: 1.1rem;
font-weight: bold;
background: #fff;
text-transform:lowercase;
}
.read-status.unread.big-dot{
position: relative;
top: -0.1em;
display: inline-block;
height: 0.6em;
width: 0.6em;
border-radius: 0.6em;
background: #c77;
}
.avatar-wrap{
display: block;
overflow: hidden;
width: 4em;
margin-left: 0.3em;
margin-top: -1.2em;
}
.avatar{
display: inline-block;
width: 4em;
line-height: 4em;
background: white;
}
label ~ .time{
position: relative;
float: right;
margin-right: 1.7em;
margin-top: -1.4em;
font-size: 0.9rem;
color: #555;
}
strong, strong span{
line-height: 1.5;
font-size: 1.1rem;
margin-left: 0.2em;
}
.list-group-item{
display: block;
margin: 1em 0.2em;
padding: 0.2m;
border-top:  2px solid #5588cc;
background: rgb(240, 240, 240);
}
.msg-content{
margin: 0 0 -0.3em 0;
padding: 0.5em;
border-top: 1px #aaa solid;
color: #404040;
background: #fff;
}
#bottom_element{
margin: 2em 0em;
text-align: center;
}
#bottom_element:before{
content:'~КОНЕЦ~';
color: #999;
font-weight: bold;
display: inline-block;
}
/*** END QMS ***/

table{
font-size: inherit;
}
a img{
margin-right: 0.5em;
margin-bottom: 1em;
vertical-align: middle;
}
img[src*="style_emoticons"]{
min-height: 1.2rem !important;
min-width: 1.2rem !important;
vertical-align: bottom;
}
a{
color: #2266cc;
line-height:1.7;
}
ul, ol{
margin-left: -1em;
}
.spoiler_button{
position: relative;
z-index: 99;
float: right;
width: 100%;
display: block;
margin-top: -2.7em;
margin-bottom: 0;
margin-right: 0;
padding-top: 0.5em;
padding-bottom: 0.5em;
padding-right: 0.5em;
background: none;
border: 0;
color: #efefef;
text-transform:lowercase;
text-align: right;
}
img{
max-width: 100%!important;
height: auto!important;
}
.sp_img{
display: inline-block;
margin: 0.2em;
padding: 0.2em 0.3em;
border-left: 1px solid #ddd;
border-right: 1px solid #ddd;
background: #e4eaf2;
}
.post_body font{
font-size: 0.95rem!important;
}
.post_body, .signature{
font-size: 1rem;
position: relative;
padding: 1em 0.5em 2em;
clear: both;
word-wrap: break-word;
background: #fefefe;
border-bottom: 1px solid #bbb;
}
.signature{
background: #f5f5f5; !important;
}
.signature:before{
content:'подпись';
display: block;
margin-top: -0.5em;
padding-bottom: 0.5em;
margin-bottom: 0.5em;
text-align: center;
color: #888;
font-size: 0.8em;
border-bottom: 1px #bbb solid;
}
.post_header{
border-bottom: 2px groove #fff;
border-top:  2px solid #5588cc;
padding: 0 0.4em;
background: rgb(240, 240, 240);
margin-top: 0;
}
.post_header a img{
margin-bottom:0;
}
.post_header .post_date {
display: inline-block;
margin-top: auto;
margin-bottom: 0;
position: relative;
font-size: 0.95rem;
float:right;
color: #444;
text-transform:lowercase;
}
.post_header .post_date_cli {
display: inline-block;
margin-top: auto;
margin-bottom: 0;
position: relative;
font-size: 0.95rem;
color: #444;
}
.post_header .post_date_cli a{
margin-left: 0.2em;
font-size: 1rem;
}
.post_user_info{
display:block;
text-transform:lowercase;
}
.post_user_info br{
display: none;
}
.post_user_info:first-line{
color: rgb(233, 233, 233);
font-size: 0;
}
.post_user_info strong{
font-size: 1rem;
color: #0a0;
line-height: 1;
margin: 0;
}
.post_user_info span{
display:block;
font-size: 0.95rem;
text-transform:lowercase;
line-height: 1.5;
}
.post_user_info a{
font-size: 0.95rem;
margin:0 0 0 0.4em;
display:inline-block;
line-height: 1.5;
float: right;
}
.post_user_info a:first-of-type:before{
content:'|';
padding-right: 0.5em;
}
.post_action{
display:table;
position: relative;
width: 100%;
text-transform:lowercase;
}
.post_action a{
font-size: 0.95rem;
display:inline-block;
float:right;
line-height: 0.8;
padding-left: 0.5em;
}
.post_action a:before{
content: '|';
padding-right: 0.5em;
}
.post_action a:first-of-type:before{
content: '';
padding-right: 0;
}
.post_action a:last-of-type:before{
content: '';
}
.post_action a:first-of-type{
display:inline-block;
color: #888;
float: left;
padding-left: 0;
line-height:1;
}
.post_nick_cli a{
margin-top: auto;
margin-bottom: auto;
position: relative;
font-size: 1.1rem !important;
line-height:1.2; 
color: #b55!Important;
font-weight: bold;
}
.post_nick_online_cli a{
font-size: 1.1rem !important;
line-height:1.2; 
color: #090!important;
display: inline-block;
font-weight: bold;
text-shadow: 0 0 0.6rem white;
}
.post_nick a{
margin-top: -0.8em;
display:inline-block;
margin-bottom: 0;
line-height:1; 
font-size: 1.1rem !important;
color: #404040!important;
font-weight: bold;
}
.post_footer, .s_post_footer{
display: block;
position: relative;
padding: 0 0.5em;
clear: both;
margin-left: auto;
margin-right: auto;
background: #f5f5f5;
border-bottom: 1px #5588cc solid;
}
.s_post_footer{
display: block;
position: relative;
padding: 0.5em;
clear: both;
margin-left: auto;
margin-right: auto;
background: #f5f5f5;
border-bottom: 0.5em #333 solid;
}
.s_post_footer table{
text-align:center;
font-size: 0.95rem;
color: #777;
}
.signature{
font-size: 0.95rem;
color: #999;
}
.searchlite{
color:#ee6050;
}
.user_group{
display: block;
margin-top: 0;
margin-bottom: auto;
position: relative;
font-size: 0.85rem;
line-height:0.6;
}
.post_header a, .post_footer a{
text-decoration: none!important;
color: #444;
}
.href_button{
display: inline-block;
margin: 0;
width: 100%;
font-weight: bold;
text-transform:lowercase;
color: #2266cc;
text-decoration: none;
text-align: center;
padding: 0.4em 0;
}
.href_button_disable{
color:#eee;
display: inline-block;
margin: 0;
width: 100%;
font-weight: bold;
text-align: center;
padding: 0.4em 0;
}
.topic_title_post{
margin: 1em;
padding: 0.5em;
text-align: center;
}
.topic_title_post a{
color: #2266cc;
text-decoration: none!important;
line-height:1.2; 
}
.quotetop img{
margin-top: auto;
margin-bottom: auto;
}
.edit{
font-size: 0.9rem;
color:#707070;
}
edit b{
font-size: 0.95rem;
}
.edit *{
font-size:0.9rem;
color:#707070;
}
.post-edit-reason{
font-size: 0.9rem;
color: #707070;
}
/*news*/

.container{
margin: 0;
display: block;
margin: 0.3em;
background: #fff;
border: 1px #777 solid;
padding: 0.3em;
color: black;
}
.content{
display: block;
padding: 0.5em;
}
.product-detail{
	display: block;
	border: 1px #999 solid;
	background: #eee;
padding: 0 0.2em 0.5em;
}
.photo{
	display: block;
	margin-top: 1em;
	text-align: center;
}
.photo img{
	display: inline-block;
	max-width: 100%;
	height: auto;
}
.more-box{ 
	position: relative;
	text-align: center;
}
h3{
text-align: center;
}
h3 a{
text-decoration: none;
color: #555;
font-size: 1.4rem;
}
.info-holder{
display: block;
text-align: center;
}
.materials-box{
display: block;
padding: 1em 0;
margin: 0;
}
.box-title{
margin: 0.5em 0.2em;
padding: 0.2em 0;
text-align: center;
color: #555;
border-top: 1px #ddd solid;
background: -webkit-gradient(linear, left top, right top, 
color-stop(0%,  #fff), 
color-stop(10%, #eee), 
color-stop(90%, #eee),
color-stop(100%, #fff));
}
.materials-list{
padding: 0;
margin: 0 0.2em 0 1em;
line-height: 1.4;
/*background: #eee; 
padding: 1em;
border-bottom: 1px #777 solid*/
}
.materials-list li{
padding: 0.5em 0;
margin: 0.5em 0;
font-size: 1rem;
list-style-type: none;
}
.materials-list a{
position: relative;
display: inline;
}
.materials-box .date{
display: inline;
font-weight: bold;
color: #555;
text-decoration: none;
padding: 0 1em;
font-size: 1.1rem;
}
.materials-box .number{
color: #fff;
font-weight: bold;
background: #7af;
line-height: 2;
width: 2em;
text-align: center;
float: left;
margin-top: -0.3em;
font-weight: bold;
border-radius: 2rem;
}
.page-nav.box{
margin: 0;
padding: 0;
text-align: center;
}
.page-nav.box li{
display: inline-block;
font-size: 1.4rem;
text-decoration: none; 
text-transform:lowercase;
width: 4em;
border:  1px solid #aaa;
padding: 0.8px 0.2em 0 0.2em;
color: #dcdcdc;
background: #fff;
}
.page-nav.box a{
text-decoration: none; 
}
.comment-box h2{
margin: 0.5em 0.2em;
text-align: center;
padding: 0.2em 0;
color: #555;
border-top: 1px #ddd solid;
background: -webkit-gradient(linear, left top, right top, 
color-stop(0%,  #fff), 
color-stop(10%, #eee), 
color-stop(90%, #eee),
color-stop(100%, #fff));
}
#comments{
font-size: 1rem;
display: block;
padding: 0.7em 0;
position: relative;
margin: 0.2em 1px 0.2em 0;
font-weight: normal;
color: #000;
text-align: left;
}
#comments li, #comments ul{
list-style-type: none;
padding: 0;
margin: 0.2em 0 0.2em 1px;
}
.comment-box li{
border-top: 1px #aaa solid;
border-bottom: 2px #ddd groove;
border-left: 1px #aaa solid;
border-right: 1px #aaa solid;
text-align: left;
margin: 1em 0 0 0;
word-wrap:break-word;
background: #fff;
-webkit-box-shadow: 1px 2px 6px #ccc;
}
#comments li .heading{
position: relative;
display: block;
margin: -1px 0 0 0;
border-top: 3px #58c solid;
border-bottom: 1px solid #aaa;
background: #eee;
text-shadow: 0 0 0.2em #fff;
padding: 0.2em 0;
}
.nickname{
text-decoration: none; 
font-style: normal !important;
font-size: 1rem;
font-weight: bold;
margin: 0 0.5em;
color: #58c;
line-height: 1.4;
}
.h-meta{
text-decoration: none;
font-weight: normal;
font-size: 1rem;
color: #555;
float: right;
margin-top: 0;
margin-right: 0.2em;
line-height: 1.4;
}
#comments li p{
padding-left: 0.3em;
padding-right: 0.3em;
padding-bottom: 0;
margin: 0 0.2em;
} 
#comments a:nth-child(2){
position: relative;
display: block;
text-align: center;
top: -0.5em;
}
#comments p ~ div{
display: block;
text-align: right;
border-top: 1px #ccc solid;
margin: 0.5em 0.5em 0;
}
